* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*--------------------------*/
@media only screen and (orientation: landscape) {
    #Root {
        display: none;
    }
}

h1 {
    font-family: 'Barlow';
    font-size: 1em;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 0.7em;
}

/*--------------------------*/
#HeaderBar {
    z-index: 2;
    position: fixed;
    top: 0;
    background: white;
    filter: drop-shadow(0px 2px 2px rgb(235, 235, 235));
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: space-around;
    align-items: center;
}

.barOption {
    position: relative;
    /*border: solid rgb(180, 180, 180) 1px;*/
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.headerIcon {
    width: 20%;
}


/*--------------------------*/
#NavBar {
    position: fixed;
    bottom: 0;
    padding-bottom: 4%;
    background: white;
    filter: drop-shadow(0px -1px 1px rgb(235, 235, 235));
    display: flex;
    width: 100%;
    height: 80px;
    justify-content: space-around;
    align-items: center;
}

.navOption {
    position: relative;
    /*border: solid rgb(180, 180, 180) 1px;*/
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.navCaption {
    margin-top: 5px;
}

.navIcon {
    width: 20%;
}

/*--------------------------*/

#MainContent {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 60px;
    width: 100%;
    height: 100%;

}

/*--------------------------Card */
.card {
    width: 100%;
    height: 100%;
    margin: 20px;
   
    filter: drop-shadow(0px 5px 5px rgb(150, 150, 150));
}

.horizontalScrolling {
    position: relative;
    width: 100%;
    height: 420px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    align-content: center;
    overflow-x: scroll;
}

.verticalScrolling {
    margin-top: 10px;
    position: relative;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    overflow-y: scroll;

}